In [1]:
%load_ext sql

In [79]:
%sql mysql://USERNAME:PASSWORD@HOST/DATABASE

'Connected: admin@sql_project'

# SQL 1

## SQL #1

Question: Create a table that displays who the top performing artists are?

Business Justification: By seeing the artists who have the most songs in the top 50 chart, we can see which artist creates the most top tracks. We will pursue that artist to try to create deals and try to tailor some of the Apple Music marketing with the use of those better performing artists. 

SQL features: Common Table Expression, Join, Group by

In [84]:
%%sql
#CTE to see which artists have the most top songs
WITH artist_top_song_count AS (
    SELECT artist_name, track_name
    FROM top_50_songs 
    JOIN artists 
        ON artists.artist_id = top_50_songs.artist_id
)

SELECT artist_name, COUNT(*) AS num_top_songs
FROM artist_top_song_count
GROUP BY artist_name
ORDER BY num_top_songs DESC;

 * mysql://admin:***@lmu-sql.crkxqhoxro46.us-east-2.rds.amazonaws.com/sql_project
38 rows affected.

[('Bad Bunny', 5),
 ('Dua Lipa', 3),
 ('The Weeknd', 2),
 ('Doja Cat', 2),
 ('DaBaby', 2),
 ('Lewis Capaldi', 2),
 ('Billie Eilish', 2),
 ('J Balvin', 2),
 ('Tones And I', 1),
 ('Surfaces', 1),
 ('Sam Smith', 1),
 ('Surf Mesa', 1),
 ('MEDUZA', 1),
 ('Roddy Ricch', 1),
 ('Jack Harlow', 1),
 ('Shawn Mendes', 1),
 ('Lil Mosey', 1),
 ('Megan Thee Stallion', 1),
 ('Camilo', 1),
 ('DripReport', 1),
 ('KAROL G', 1),
 ('Harry Styles', 1),
 ('Eminem', 1),
 ('Drake', 1),
 ('Arizona Zervas', 1),
 ('Maroon 5', 1),
 ('JP Saxe', 1),
 ('SAINt JHN', 1),
 ('Justin Bieber', 1),
 ('Future', 1),
 ('Rauw Alejandro', 1),
 ('BENEE', 1),
 ('Post Malone', 1),
 ('Travis Scott', 1),
 ('Powfu', 1),
 ('Trevor Daniel', 1),
 ('Playboi Carti', 1),
 ('Twenty One Pilots', 1)]

## SQL #1

Reccomendaion:

Based on these results we see that the artist that performs the most top songs is Bad Bunny. As for my reccomendation, I believe that Apple Music should strike some sort of deal with Bad Bunny, for example, have him release his music exclusively on Apple Music for a week before releasing on other platforms. Additionally, if Bad Bunny would not agree to that, Dua Lipa,  who follows Bad Bunny's 5 top songs with 3 top songs, could be another target for a similar promotional plan.

# SQL 2

## SQL #2

Question: Create a classification for popular artists, who are artists that have a popularity rating greater than that of industry standard.

Business Justification: We can filter out the artists that have a popularity rating lower than that of the average for the specific genre. Then by seeing which artists have the highest popularity rating we can see which artists have a the majority of people listening to their music. This will indicate which artists are good to pursue in partnerships regardless if they do not have many songs in the current top 50 chart.

SQL Features: Case, Common Table Expression, Join

In [83]:
%%sql
WITH artist_genre_popularity AS (
    SELECT 
        artist_name, 
        genres.genre_name,
        artist_popularity,
        AVG(artist_popularity) OVER(PARTITION BY artists.genre_id) AS avg_artist_popularity_per_genre,

            CASE
                WHEN artists.artist_popularity < 90 THEN 'Mildly Popular'
                WHEN artists.artist_popularity BETWEEN 90 AND 95 THEN 'More Popular'
                ELSE 'Extremely Popular'
            END AS 'popularity_level'

    FROM artists
    JOIN genres
        ON artists.genre_id = genres.genre_id
)

SELECT *
FROM artist_genre_popularity
WHERE artist_popularity > avg_artist_popularity_per_genre
ORDER BY artist_popularity DESC;

 * mysql://admin:***@lmu-sql.crkxqhoxro46.us-east-2.rds.amazonaws.com/sql_project
20 rows affected.

[('Bad Bunny', 'latin', 100, Decimal('91.6000'), 'Extremely Popular'),
 ('Travis Scott', 'rap', 98, Decimal('88.7857'), 'Extremely Popular'),
 ('The Weeknd', 'pop', 98, Decimal('88.9333'), 'Extremely Popular'),
 ('Drake', 'rap', 98, Decimal('88.7857'), 'Extremely Popular'),
 ('J Balvin', 'latin', 97, Decimal('91.6000'), 'Extremely Popular'),
 ('Billie Eilish', 'pop', 95, Decimal('88.9333'), 'More Popular'),
 ('Justin Bieber', 'pop', 95, Decimal('88.9333'), 'More Popular'),
 ('Post Malone', 'rap', 95, Decimal('88.7857'), 'More Popular'),
 ('Dua Lipa', 'pop', 95, Decimal('88.9333'), 'More Popular'),
 ('Eminem', 'rap', 94, Decimal('88.7857'), 'More Popular'),
 ('Roddy Ricch', 'rap', 93, Decimal('88.7857'), 'More Popular'),
 ('DaBaby', 'rap', 92, Decimal('88.7857'), 'More Popular'),
 ('Future', 'rap', 91, Decimal('88.7857'), 'More Popular'),
 ('Doja Cat', 'pop', 90, Decimal('88.9333'), 'More Popular'),
 ('Shawn Mendes', 'pop', 89, Decimal('88.9333'), 'Mildly Popular'),
 ('Maroon 5', 'rock', 89, Decimal('87.5000'), 'Mildly Popular'),
 ('Lewis Capaldi', 'pop', 89, Decimal('88.9333'), 'Mildly Popular'),
 ('Sam Smith', 'pop', 89, Decimal('88.9333'), 'Mildly Popular'),
 ('Harry Styles', 'pop', 89, Decimal('88.9333'), 'Mildly Popular'),
 ('MEDUZA', 'edm', 82, Decimal('78.0000'), 'Mildly Popular')]

## SQL #2

Reccomendation: From this table we see once again that Bad Bunny has a high popularity rating that is higher than the genre average. Additionally, we see that there is only one EDM artist on this list. Although the artist is mildly popular compared to the rest of the artist, MEDUZA does have a popularity level higher than the average for EDM. Therefore targeting any of these artists would be a good bet as they all have popularity ratings higher than genre average.

If looking at just the popularity rating, Bad Bunny would be the clear cut pick for a branding deal. 

However, artists like Travis Scott, Drake, and The Weeknd all are categorized as extremely popular and have a popularity rating that is 10 points higher than their respecitve genre average. Therefore, these would be the best artists for Apple Music to pursue to get deals with or create playlist that are more tailored to those listening to these artists.

# SQL 3

## SQL #3

Question: Create a query that displays the the top genres and the percentage of each age group that listens to that genre and the average artist popularity for that specific genre.

Business Justification: By showing the most popular genres and their respective age groups, we can choose which age group to market towards and form a target market for Apple Music using that. Additionally, marketing can be ramped up for specific genres in specific age groups while other genres and age groups not so much.

SQL features: View, Join, Group By

In [81]:
%%sql
CREATE OR REPLACE VIEW top_songs_by_artists_with_genre AS
    SELECT artists.artist_name, top_50_songs.track_name, genres.genre_id, genres.genre_name, genres.age_16_19, 
        genres.age_20_24, genres.age_25_34, genres.age_35_44, genres.age_45_54, genres.age_55_64, genres.age_65_plus
    FROM top_50_songs
    JOIN artists
        ON top_50_songs.artist_id = artists.artist_id
    JOIN genres
        ON artists.genre_id = genres.genre_id;

SELECT 
    genre_id, genre_name, age_16_19, 
    age_20_24, age_25_34, age_35_44,
    age_45_54, age_55_64, age_65_plus, 
    COUNT(*) AS num_of_top_songs_in_genre
FROM top_songs_by_artists_with_genre
GROUP BY genre_id
ORDER BY COUNT(*) DESC;

 * mysql://admin:***@lmu-sql.crkxqhoxro46.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.
5 rows affected.

[(1, 'pop', 52, 54, 56, 46, 42, 25, 19, 21),
 (3, 'rap', 48, 54, 42, 33, 15, 5, 1, 14),
 (8, 'latin', 30, 35, 36, 34, 21, 13, 5, 10),
 (5, 'edm', 20, 33, 15, 21, 9, 5, 1, 3),
 (2, 'rock', 26, 36, 44, 46, 62, 60, 48, 2)]

## SQL #3

Reccomendation: 

We see by far that pop has the most songs in the top 50 charts. Therefore if resources were to be given towards marketing the most popular genre it would be pop. Additionally, the age groups demonstrate that more than half of those from age 16-34 listen to pop music. Therefore, marketing should be done towards Millenials and Gen Z.